.popRight{
    width: 60%;
    background: #ffffff;
    box-shadow: #0000001f 0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 0px;
    margin-top:9px;
    min-width: 70%;
    list-style: none;
}