.wrapper{
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}
.inner{
    //Kế thừa từ cha
    height: 100%;
    width: var(--default-layout-width); 
    display: flex;
    align-items: center; 
    //Tách đều các đối tượng
    justify-content: space-between; 
}
.logo{

}

.btnTripleDotV{
    font-size: 1.6rem;
    margin-left: 0.8rem;
    background-color: transparent;
    padding: 0rem 0.4rem;
    &:hover{
        cursor: pointer;
    }
}