.search{
    --search-boder-radius:8rem;
    --search-height:2.7rem;
    --search-btn-width: 3.5rem;
}
.search,
.search-result{
    width: 25rem;
}

.search{
    position: relative;        
    height: var(--search-height);
    display: flex;
    padding: 0 0 0 1.6rem;
    background-color: var(--color-input);
    border-radius: var(--search-boder-radius);
    border: 1.5px solid transparent;
    input{
        flex:1;
        font-size: 1rem;
        color: #828282;
        border: none;
        //trong suốt
        background-color: transparent;
        height: 100%;
        line-height: 46px;
        //Con nháy chuột
        caret-color: var(--primary);
    }
    //Khi input không có placeholder sẽ tác động đến .search-btn
    input:not(:placeholder-shown) ~ .search-btn{
        color: #161823bf;
    }

    &::after{
        content: "";
        position: absolute;
        top:calc(var(--search-height)*0.2);
        height: calc(var(--search-height)*0.6);
        right: var(--search-btn-width);
        width: 1px;
        background-color: #1818231f;
    }
    &:focus-within{
        border-color: #16182333;
    }
}
.clear,
.loading{
    position: absolute;
    right: calc(var(--search-btn-width) + 10px);
    //căn giữa
    top:50%;
    transform:translateY(-50%);
    //
    color: #16182357;

}
.loading{
    animation: spinner 2s linear infinite;
}

@keyframes spinner{
    from{
        transform:translateY(-50%) rotate(0);
    }
    to{
        transform:translateY(-50%) rotate(360deg);
    }
}

.search-btn{
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-boder-radius);
    border-bottom-right-radius: var(--search-boder-radius);
    font-size: 1.6rem;
    color: #16182357;
    &:hover{
        background-color: #14161f08;
        cursor: pointer;
    }
    &:active {
        background-color: #14161f0f;
    }
}
.search-title{
    color: #16182380;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}