.wrapper {
    width: 356px;
    padding: 0.9rem 0.7rem;
    position: relative;
}

.middle {
    padding: 1rem 1.4rem;
    &::before {
        content: "";
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: #1618231f;
    }
}
.content{
    margin: 1rem 0;
    color: #16182380;
    font-size: 16px;
    line-height: 22px;
}
.recommendedAccount{
    padding: 1rem 1.4rem;
    &::before {
        content: "";
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: #1618231f;
    }
}
.title{
    margin-top: 1rem;
    color: #161823bf;
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 600;
    font-size: 1rem;
}
.viewAll{
    color: var(--primary);
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8rem;
}