.wrapper{
    font-size: 1rem;
    font-weight: 700;
    min-width: 5rem;
    min-height: 2rem;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white);
    border:1px solid transparent;
    margin-left: 0.8rem;
}

//Button types
.simple{
    border-color: #1618231f;
    border-radius: 0.2rem;
    &:hover{
        background-color: #16182308;
    }
}

.primary{
    background-color: var(--primary);
    color:var(--white);
    &:hover{
        background:linear-gradient(0deg, #0000000f, #0000000f),#FE2C55;  
    }
}
.outline{
    color: var(--primary);
    border-color: currentColor;
    &:hover{
        background-color: #fe2c550f;
    }
}
.round{
    border-color: #1618231f;
    color:#161823bf;
    border-radius: 5.2rem;
    &:hover{
        background-color: #16182308;
    }
}

//Button sizes
.small{
    min-width: 88px;
    font-size: 1.2rem;
    padding:0.4rem 1.4rem;
}
.large{
    min-width: 140px;
    padding:0.6rem 2.7rem;
}