@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

//Đặt biến
:root{
    --primary:#FE2C55;
    --color-input:#1618230f;
    --text-color:#333;
    --white:#fff;
    //Default Layout
    --default-layout-header-height:60px;
    --default-layout-width:1150px;

    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

}
body{
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    //Tối ưu tốc độ hiển thị font
    text-rendering: optimizeSpeed;
    color: var(--text-color);

}

button,input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}