.container{
    padding: 0.5rem 0.8rem;
    min-height: 2.5rem;
    &:hover{
        background: #16182308;
        cursor: pointer;
    }
}
.wrapper{
    display: flex;
}

.icon{
    margin-right: 0.8rem;
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
}
.text{
    white-space: nowrap;
}