.wrapper{
    font-family: "IBM Plex Sans", SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    &:hover{
        background-color: #16182308;
        cursor: pointer;
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
    line-height: 1.5rem;
    height: 1.5rem;
    margin-bottom: 2.5rem;
}

.name {
    font-size: 1.2rem;
}

.username {
    font-size: 1rem;
    font-weight: 600;
}
.check{
    margin-left: 8px;
    color: #20d5ec;
    font-size: 1rem;
}