.wrapper {
    padding: 0.4rem 0.9rem;
    &:hover{
        cursor: pointer;
        background: #16182308;
    }
}

.icon {
    font-size: 1.4rem;
}

.text {
    font-family: "IBM Plex Sans",ProximaNova,Arial,Tahoma,PingFangSC,sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-left: 0.8rem;
}
.active{
    color: var(--primary);
}