.wrapper{
    display: flex;
    //quay theo chiều dọc
    flex-direction: column;
    align-items: center;
}
.container{
    width: var(--default-layout-width);
    display: flex;
}
.content{
    flex:1;
}